{"openapi":"3.1.0","info":{"title":"Price of Compute API","version":"1","description":"Free GPU rental and LLM token price data. USD per GPU-hour, per-provider daily medians then cross-provider median. 1,000 requests/day per IP. Attribution required: 'Data: Price of Compute — priceofcompute.com'. Archival history (labeled) back to 2023 on covered SKUs."},"servers":[{"url":"https://priceofcompute.com/api/v1"}],"paths":{"/prices/{sku}":{"get":{"summary":"Current prices for a SKU (per pricing type, per provider)","parameters":[{"name":"sku","in":"path","required":true,"schema":{"type":"string"},"example":"h100-sxm"}],"responses":{"200":{"description":"Latest daily medians + per-provider rows"}}}},"/history/{sku}":{"get":{"summary":"Full daily price history for a SKU","parameters":[{"name":"sku","in":"path","required":true,"schema":{"type":"string"},"example":"h100-pcie"},{"name":"format","in":"query","required":false,"schema":{"type":"string","enum":["csv"]}}],"responses":{"200":{"description":"Daily median series per pricing type (JSON or CSV)"}}}},"/index":{"get":{"summary":"The Price of Compute Index — daily series + live intraday print","responses":{"200":{"description":"Base day, official series, live value"}}}},"/models":{"get":{"summary":"LLM token prices, verified against official pricing pages","responses":{"200":{"description":"Per-model input/output USD per million tokens"}}}},"/providers":{"get":{"summary":"Tracked providers and coverage","responses":{"200":{"description":"Provider list with SKU and observation counts"}}}},"/events":{"get":{"summary":"Detected price events (GPU repricings + LLM price changes) since 2023","responses":{"200":{"description":"Reverse-chronological event list"}}}}}}